@import "../../../variables";



.menuInput {
    grid-area: input;
    width: 100%;
    padding: 2%;
    font-size: clamp(14px, 2vw, 18px);
    font-family: $fontFamily;
}

.inputError {
    border: 1px solid rgb(255, 0, 0);
}

.inputErrorText {
    display: flex;
    justify-content: center;


    & p {
        font-family: $fontFamily;
        font-size: clamp(10px, 2vw, 16px);
        color: rgb(250, 141, 141);
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.699);
    }
}
