$fontFamily: "Source Sans Pro', sans-serif";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    min-height: 100vh;
}

.App {
    display: grid;
    grid-template-areas: "map map menu";
    grid-template-columns: repeat(2, 1fr) 30%;
    grid-template-rows: 100vh;
}
// MENU

.menuContainer {
    grid-area: menu;
    background: linear-gradient(0deg, rgba(145,14,190,0.8954175420168067) 0%, rgba(114,39,222,0.9010197829131653) 46%, rgba(97,51,255,0.8001794467787114) 100%);
    box-shadow: inset 2px 0px 4px -1px rgb(255, 255, 255)
}


.inputContainer {
    display: grid;
    grid-template-areas: "input loader";
    grid-template-columns: 1fr 40px;
    grid-template-rows: 70px;
    width: 100%;
    padding: 2% 5%;
}

.menuInput {
    grid-area: input;
    width: 100%;
    padding: 2%;
    font-size: clamp(14px, 2vw, 18px);
    font-family: $fontFamily;
}

.inputError {
    border: 1px solid rgb(255, 0, 0);
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loadingSpinner {
    grid-area: loader;
    justify-self: flex-end;
    width: 20px;
    height: 20px;
    margin-top: clamp(2px, 1vw, 10px);
    border: 2px solid rgba(255, 255, 255, 0.863);
    border-top-color: transparent;
    border-radius: 50%;

    animation: rotate 1s infinite linear;
};

.pointErrorText {
    display: flex;
    justify-content: center;


    & p {
        font-family: $fontFamily;
        font-size: clamp(10px, 2vw, 16px);
        color: rgb(250, 141, 141);
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.699);
    }
}

.direction {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 3%;

    & .directionName {
        width: 80%;

        & p {
            font-family: $fontFamily;
            color: rgb(255, 255, 255);
            text-shadow: 0 1px 5px black;
        }
    }


    & button {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.322);
        color: white;
        cursor: pointer;
    }
}

// MAP
.map {
    grid-area: map;
}

